
body {
    background-color: tomato;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

.introduction {
display: flex;
align-items: center;
justify-content: center;    
height: 10em;
position:   relative;
  }
.Gamename {
    display :  flex;
    align-items :   center;
    justify-content : center;
}
.div p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top :50%;
    left : 50%;
    margin-right: -50%;
    transform: translate (-50%,50%);
    width: 50%;
    padding: 10px 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .mainbutton {
    display : block;
    margin-left :   auto;
    margin-right:   auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: aquamarine;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.mainbutton:hover {
    background-color : aquamarine;
}

.mainbutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}